


html 		{
	background-color: black;
	background-image: url("../images/star-wars.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
} /* end html */


.container 	{
	position: relative;   
	width: auto;
	background-color: transparent;
	float: none;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;

}	/* end .container */      

header 		{
	
	height: 50px;
	width: auto;
	position: static;
	float: none;
	text-align: center;
	font-size: 36px;
	font-style: italic;
	background-color: #000000;
	color: yellow;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	overflow: auto;	 

}	/* end header */



body 		{	
	background-color: transparent;
    width: auto;
	margin: 0px auto; /* Centers whole page dammit */
	padding: 0px;
	height: 100%;
	color: yellow;
	border-width: 0px;

}	/* end body */ 


h1			{
font-family: 'Times new roman', serif;
font-size: 24px;
color: yellow;


}


button	{
	color: black;
	background-color: white
}   


#chooseCharacter {
	position: relative;
	float: left;
	padding-left: 0px;
	width: 190px;
	height: 190px;
	margin-left: 0px;
	background-color: white;
	border-style: solid;
	border-color: green;
	color: black;
	border-width: 3px;
	font-size: 15px;
	overflow: auto;
	text-align: center;

}	/* end .chooseCharacter*/

#yourCharacter {
	position: relative;
	float: left;
	padding-left: 0px;
	width: 190px;
	height: 190px;
	margin-left: 0px;
	background-color: white;
	border-style: solid;
	border-color: green;
	color: black;
	border-width: 3px;
	font-size: 15px;
	overflow: auto;
	text-align: center;

}	/* end .yourCharacter */



#enemy1, #enemy2, #enemy3, #enemy4	{
	position: relative;
	float: left;
	padding-left: 0px;
	width: 190px;
	height: 190px;
	margin-left: 0px;
	background-color: red;
	border-style: solid;
	border-color: white;
	color: black;
	border-width: 3px;
	font-size: 15px;
	text-align: center;
	overflow: auto;

} /* end .enemyCharacter */


#enemyFighter {
	position: relative;
	float: left;
	padding-left: 0px;
	width: 190px;
	height: 190px;
	margin-left: 0px;
	background-color: black;
	border-style: solid;
	border-color: green;
	color: white;
	border-width: 3px;
	font-size: 15px;
	overflow: auto;
	text-align: center;

}	/* end enemyFighter */





.row1 		{
	background-color: transparent;
	width: auto;
	height: 100%;
	border-style: none;
	border-width: 0px;
	border-color: transparent;
	overflow: auto;
			}

	/* @Media Screen Tags */
			
/* @media only screen and (max-width: 600px)


	{	
		.headimage	{
			position: relative;
			float: left;
			width: 150px;
			height: 50px;
			padding: 0px;
			margin: 0 auto;
					}

		.container 	{
			width: 300px;
					}

		header 		{
			width: 248px;
			margin: 0px auto;
			padding: 0px;
					}

		body 		{
			width: 300px; 
					}
		
		}
		
	}*/
		
