


html 		{
	background-color: black;
	background-image: url("../images/star-wars.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
			}


.container 	{
	position: relative;   
	width: auto;
	background-color: transparent;
	float: none;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
			}       

header 		{
	
	height: 50px;
	width: auto;
	position: static;
	float: none;
	text-align: center;
	font-size: 36px;
	font-style: italic;
	background-color: #000000;
	color: yellow;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	overflow: auto;	 
			}



body 		{	
	background-color: transparent;
    width: auto;
	margin: 0px auto; /* Centers whole page dammit */
	padding: 0px;
	height: 100%;
	color: yellow;
	border-width: 0px;
			} 





      
img 		{
	position: relative;
	float: left;
	margin: 2px;
	padding: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: green;
			}

.yourCharacter 	{
	border-color: green;
			}

.yourEnemy 	{
	border-color: red;
			}

.row1 		{
	background-color: transparent;
	width: auto;
	height: 100%;
	border-style: dotted;
	border-width: 1px;
	border-color: white;
	overflow: auto;
			}

	/* @Media Screen Tags */
			
/* @media only screen and (max-width: 600px)


	{	
		.headimage	{
			position: relative;
			float: left;
			width: 150px;
			height: 50px;
			padding: 0px;
			margin: 0 auto;
					}

		.container 	{
			width: 300px;
					}

		header 		{
			width: 248px;
			margin: 0px auto;
			padding: 0px;
					}

		body 		{
			width: 300px; 
					}
		
		}
		
	}*/
		
